@import url('https://fonts.googleapis.com/css2?family=Gaegu:wght@300&family=Press+Start+2P&display=swap');

body {
    background-color: cornflowerblue;
    font-family: "Press Start 2P";
}

.main1 {
    display: flex;
    flex-direction: column;
    width: 100vw;
    justify-content: center;
    align-items: center;
}

.leaderboardTitle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

table,
thead,
td {
    border: 1px solid;
    text-align: center;
}

thead {
    font-weight: bold;
    font-size: 30px;
}

table {
    width: 80%
<<<<<<< Updated upstream
=======
}

.errorresult {
    font-weight: bold;
    font-size: 30px;
}

.tw,
.fb {
    display: none;
>>>>>>> Stashed changes
}