.top,
.card-area {
    flex: 1;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.top {
    justify-content: space-around;
}

.enemy-zone {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
    flex: 1;
}

.enemypic {
    height: 200px;
}

/* Style the parent div as a grid container */
.enemymove-zone {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    border-radius: 10px;
    gap: 1em;
}

/* Style the child divs */
.enemyMove {
    background-color: pink;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
}

.moveset {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.card {
    margin: 1em;
    width: 25%;
    border: 2px solid;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.5);
}

.cardpic {
    height: 8em;
}

.carddesc {
    width: 225px;
    height: 100px;
}

.cardtitle {
    text-align: center;
    font-weight: bold;
}

.card:hover {
    background-color: gray;
}

h3 {
    text-align: center;
}

.player-healthbar {
    padding: 1em;
    position: absolute;
    bottom: -2em;
    background: #f0f0f0;
    border: 2px solid black;
    width: 80%;
    display: flex;
    gap: 1em;
    align-items: center;
    justify-content: center;
}

.player-healthbar progress {
    flex: 4;
}

.player-healthbar h5 {
    position: fixed;
    bottom: -.6em;
    padding: 5px;
    background: #f0f0f0;
    border: 2px solid black;
}