@import url('https://fonts.googleapis.com/css2?family=Gaegu:wght@300&family=Press+Start+2P&display=swap');

:root {
    --maxblur: 0px;
    --midX: 0px;
    --maxX: 0px;
    --upY: 0px;
    --downY: 0px;
}

@keyframes pulse {
    0% { transform: scale(1); border: 0px solid #F0F0F0;}
    50% { transform: scale(1.2); border: 5px solid #F0F0F0;}
    100% { transform: scale(1); border: 0px solid #F0F0F0;}
}

.highlight {
    animation: pulse 1s infinite;
}

@keyframes blurry {
    0% {
        filter: blur(0px);
    }

    100% {
        filter: blur(var(--maxblur));
    }
}

@keyframes figureEight {
    0% {
        transform: translateX(0) translateY(0);
    }

    25% {
        transform: translateX(var(--midX)) translateY(var(--upY));
    }

    50% {
        transform: translateX(var(--maxX)) translateY(0);
    }

    75% {
        transform: translateX(var(--midX)) translateY(var(--downY));
    }

    100% {
        transform: translateX(0) translateY(0);
    }
}

body {
    font-family: "Press Start 2P";
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: 2s ease-in alternate-reverse infinite blurry;
    background: url("./media/mapbg.png");
}

.map {
    background: rgba(0, 0, 0, .70);
    padding: 0 1em;
    width: 95vw;
    height: 90vh;
    border: 2px solid palegreen;
    box-shadow: 2px 2px hotpink;
    display: flex;
    overflow: hidden;
    gap: 1em;
    animation: 2s ease-in alternate-reverse infinite figureEight;
}

.location-card {
    background-color: linen;
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
    animation: 2s ease-in alternate-reverse infinite figureEight;
}

.card-zone {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.5em;
}

.focus-e {
    animation: 1s steps(5) infinite alternate focusE;
}

.focus-b {
    animation: 1s steps(5) infinite alternate focusB;
}

@keyframes focusE {
    from {
        box-shadow: 0px 0px 0px lightskyblue;
    }

    to {
        box-shadow: 0px 0px 0px .5em lightskyblue;
    }
}

@keyframes focusB {
    from {
        box-shadow: 0px 0px 0px red;
    }

    to {
        box-shadow: 0px 0px 0px .5em red;
    }
}

#encounter-zone {
    background: #0f0f0f;
    border: 3px solid snow;
}

.event-zone {
    color: lime;
    flex-direction: row;
}

.event-section-left,
.event-section-right {
    width: 50%;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.event-section-left {
    border: inset 10px gray;
}

.prompt-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: inset 10px gray;
    background: black;
    padding: 10px;
}

.option-button-container {
    display: flex;
    flex-direction: column;
    flex: 1;
    border: inset 5px gray;
}

.option-container {
    font-family: sans-serif;
    display: flex;
    flex: 1;
}

.option-button {
    width: 25%;
    flex: 1;
    border-radius: 0;
    background: #0f0f0f;
    fill: #f0f0f0;
}

.can-choose:hover svg {
    fill: lime;
    transform: scale(1.5);
}

.option-info {
    width: 75%;
    display: flex;
    flex-direction: column;
    border: inset 3px gray;
}

.option-description {
    flex: 2;
    border: inset 2px gray;
    display: flex;
    align-items: center;
    justify-content: center;
}

.option-EDMchanges {
    border: inset 2px gray;
    flex: 1;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.energy-svg-box,
.energy-num {
    color: cornflowerblue;
    fill: cornflowerblue;
}

.drunk-svg-box,
.drunk-num {
    color: darkolivegreen;
    fill: darkolivegreen;
}

.money-svg-box,
.money-num {
    color: gold;
    fill: gold;
}

#encounter-result {
    background: linen;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border: 5px solid snow;
}

.state-changes-container {
    display: flex;
    justify-content: space-between;
    width: 75%;
}

.battle-zone {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #f0f0f0;
}

.enemymove-zone {
    display: column;
    flex-wrap: wrap;
    align-items: flex-start;
}

.PC-cards {
    position: absolute;
    height: 20%;
    bottom: 0;
}

.hud {
    z-index: 1000;
    margin: .25em .25em 0 0;
    color: #F0F0F0;
    -webkit-text-stroke: 1px black;
    position: absolute;
    top: .25em;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    gap: .25em;
    background: #0F0F0F;
    padding: 1em;
    border: 2px solid palegreen;
    box-shadow: 2px 2px hotpink;
}

.map-key {
    position: fixed;
    background: #0F0F0F;
    color: #F0F0F0;
    bottom: .5em;
    right: .5em;
    padding: 2em;
    border: 2px solid palegreen;
    box-shadow: 2px 2px hotpink;
    display: flex;
    flex-direction: column;
    gap: 1em;
    align-items: flex-end;
}

.battle-square,
.event-square {
    width: 1em;
    height: 1em;
    display: inline-block;
}

.username {
    align-self: flex-end;
}

.stat {
    display: flex;
    align-self: flex-end;
}

.hud svg {
    margin-right: 1em;
}

.progress-container {
    position: relative;
    margin-left: .25em;
}

.progress-container span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #F0F0F0;
}

.progress-container span::after {
    content: "/100";
}

progress {
    border: none;
    font-size: 1.5em;
}

.player-energy-bar::-moz-progress-bar {
    background-color: cornflowerblue;
}

.player-energy-bar::-webkit-progress-value {
    background-color: cornflowerblue;
}

.player-drunk-bar::-moz-progress-bar {
    background-color: DarkOliveGreen;
}

.player-drunk-bar::-webkit-progress-value {
    background-color: DarkOliveGreen;
}

.money-container span::after {
    content: "원";
    font-weight: bolder;
}

.username {
    color: #F0F0F0;
}

#end-game {
    color: #F0F0F0;
    width: 75%;
    background: url("./media/mapbg.png");
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    border: 2px solid palegreen;
    box-shadow: 2px 2px hotpink;
}

.end-game-state {
    display: flex;
    justify-content: space-between;
    width: 75%;
}

.end-game-state .attribute {
    padding: 10px;
    background: rgba(0, 0, 0, .70);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border: 2px solid palegreen;
    box-shadow: 2px 2px hotpink;
}

.end-game-state .attribute svg {
    transform: scale(5);
    margin: 5em;
}

.end-game-buttons {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.end-game-buttons button {
    border: inset 5px gray;
    width: 10em;
    height: 10em;
    background: #0f0f0f;
    color: lime;
}

.store-button-container {
    position: fixed;
    bottom: .5em;
    left: .5em;
    display: flex;
    background: #0f0f0f;
    justify-content: center;
    align-items: center;
    border: 2px solid palegreen;
    box-shadow: 2px 2px hotpink;
    color: #F0F0F0;
    -webkit-text-stroke: 1px black;
}

.store-intro {
    font-size: 1em;
    margin: 1em;
}

.convenience-store {
    background: brown;
    flex-direction: column;
    justify-content: space-between;
}

.open-store-button {
    align-self: flex-start;
    height: 10vh;
    width: 10vh;
    border: inset 5px gray;
    margin: 1em;
}

.menu_parent {
    display: flex;
}

.below-menu {
    display: flex;
    justify-content: space-between;
    background: purple;
    height: 5em;
}

.shopButton {
    box-sizing: border-box;
    width: 10em;
    height: 10em;
    background: yellow;

    display: flex;
    align-items: center;
    justify-content: center;
}

.cant-buy {
    background: red;
}

.drink_selection, .food_selection {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: space-between;
    align-items: center;
}

.drink_selection h2, .food_selection h2 {
    align-self: flex-start;
    margin-left: 3.5em;
}

#drinks, #food {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 1em;
}

.leave-store-button {
    width: 5em;
    background: lightcoral;
}

.dynamic-game-element {
    position: absolute;
    z-index: 999;
    width: 85vw;
    height: 85vh;
    display: none;
}

.battle-reward {
    background: #0F0F0F;
    height: 85vh;
    width: 85vw;
    border: 2px solid black;
    flex-direction: column;
    color: lime;
    border: #f0F0F0;
}

.battle-reward>div {
    align-self: flex-start;
}

.battle-reward-choice-container {
    flex-direction: row;
    display: flex;
    flex: 1;
}

.battle-reward-choice-container svg {
    transform: scale(5);
}

.battle-reward h2 {
    margin-left: 5em;
    width: 75%;
}

.battle-reward-button {
    flex: 1;
    margin: 5em;
    padding: 2em;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 5em;
    border: inset 10px gray;
    text-align: center;
    animation: 1s steps(5) infinite alternate focusE;
}

.battle-reward-choice {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}