@import url('https://fonts.googleapis.com/css2?family=Gaegu:wght@300&family=Press+Start+2P&display=swap');

:root {
    --maxblur: 0px;
    --midX: 0px;
    --maxX: 0px;
    --upY: 0px;
    --downY: 0px;
}

.highlight {
    animation: pulse 1s infinite;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes blurry {
    0% {
        filter: blur(0px);
    }

    100% {
        filter: blur(var(--maxblur));
    }
}

@keyframes figureEight {
    0% {
        transform: translateX(0) translateY(0);
    }

    25% {
        transform: translateX(var(--midX)) translateY(var(--upY));
    }

    50% {
        transform: translateX(var(--maxX)) translateY(0);
    }

    75% {
        transform: translateX(var(--midX)) translateY(var(--downY));
    }

    100% {
        transform: translateX(0) translateY(0);
    }
}

.green-and-pink {
    border: 2px solid palegreen;
    box-shadow: 2px 2px hotpink;
}

.dynamic-game-element {
    position: absolute;
    z-index: 999;
    width: 85vw;
    height: 85vh;
    display: none;
}

body {
    font-family: "Press Start 2P";
    color: #F0F0F0;
    -webkit-text-stroke: 1px black;
    font-weight: bolder;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: 2s ease-in alternate-reverse infinite blurry;
    background: url("../media/map/mapbg.png");
}

.map {
    background: rgba(0, 0, 0, .70);
    padding: 0 1em;
    width: 95vw;
    height: 90vh;

    display: flex;
    overflow: hidden;
    gap: 1em;
    animation: 2s ease-in alternate-reverse infinite figureEight;
}

.location-card {
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: 2s ease-in alternate-reverse infinite figureEight;
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 2em;
    text-align: center;
    -webkit-text-stroke: 2px black;
}

.card-zone {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.5em;
}

.focus-e {
    animation: 1s steps(5) infinite alternate focusE;
}

.focus-b {
    animation: 1s steps(5) infinite alternate focusB;
}

@keyframes focusE {
    from {
        box-shadow: 0px 0px 0px lightskyblue;
    }

    to {
        box-shadow: 0px 0px 0px .5em lightskyblue;
    }
}

@keyframes focusB {
    from {
        box-shadow: 0px 0px 0px red;
    }

    to {
        box-shadow: 0px 0px 0px .5em red;
    }
}

#encounter-zone {
    background: #0f0f0f;
    border: 3px solid #f0f0f0;
}

.event-zone {
    color: lime;
    flex-direction: row;
}

.event-section-left,
.event-section-right {
    width: 50%;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.event-section-left {
    border: inset 10px gray;
}

.prompt-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: inset 10px gray;
    background: black;
    padding: 10px;
}

.option-button-container {
    display: flex;
    flex-direction: column;
    flex: 1;
    border: inset 5px gray;
}

.option-container {
    font-family: sans-serif;
    display: flex;
    flex: 1;
}

.option-button {
    width: 25%;
    flex: 1;
    border-radius: 0;
    background: #0f0f0f;
    fill: #f0f0f0;
}

.can-choose:hover svg {
    fill: lime;
    transform: scale(1.5);
}

.option-info {
    width: 75%;
    display: flex;
    flex-direction: column;
    border: inset 3px gray;
}

.option-description {
    flex: 2;
    border: inset 2px gray;
    display: flex;
    align-items: center;
    justify-content: center;
}

.option-EDMchanges {
    border: inset 2px gray;
    flex: 1;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.energy-svg-box,
.energy-num {
    color: cornflowerblue;
    fill: cornflowerblue;
}

.drunk-svg-box,
.drunk-num {
    color: darkolivegreen;
    fill: darkolivegreen;
}

.money-svg-box,
.money-num {
    color: gold;
    fill: gold;
}

.battle-zone {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #f0f0f0;
    text-align: center;
}

#encounter-result {
    background: url("../media/map/mapbg.png");
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border: 3px solid #F0F0F0;
    -webkit-text-stroke: 1px #F0F0F0;
    font-size: 1.5em;
    gap: 1.5em;
}

.resolution-text {
    padding: 2em;
    text-align: center;
}

.state-changes-container {
    display: flex;
    justify-content: space-between;
    width: 75%;
}

.hud {
    z-index: 1000;
    margin: .25em .25em 0 0;
    position: absolute;
    top: .25em;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    gap: .25em;
    background: #0F0F0F;
    padding: 1em;
}

.map-key {
    position: fixed;
    background: #0F0F0F;
    bottom: .5em;
    right: .5em;
    padding: 2em;
    display: flex;
    flex-direction: column;
    gap: 1em;
    align-items: flex-end;
}

.narration-box {
    position: fixed;
    background: #0F0F0F;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: .5em;
    left: .5em;
    overflow: hidden;
    white-space: nowrap;
    letter-spacing: .15em;
    padding: 1em;
    transition: 1.5s all;
}

.marquee-elem {
    animation: marquee 10s linear infinite;
}

@keyframes marquee {
    from {
        transform: translateX(calc(max-content + 25%));
    }

    to {
        transform: translateX(calc(max-content - 25%));
    }
}

.battle-mode {
    z-index: 999;
    max-width: 75em;
    left: 50%;
    transform: translateX(-50%);
    width: 75%;
}

.battle-square,
.event-square {
    width: 1em;
    height: 1em;
    display: inline-block;
}

.username {
    align-self: flex-end;
}

.stat {
    display: flex;
    align-self: flex-end;
}

.hud svg {
    margin-right: 1em;
}

.progress-container {
    position: relative;
    margin-left: .25em;
}

.progress-container span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.progress-container span::after {
    content: "/100";
}

progress {
    border: none;
    font-size: 1.5em;
}

.player-energy-bar::-moz-progress-bar {
    background-color: cornflowerblue;
}

.player-energy-bar::-webkit-progress-value {
    background-color: cornflowerblue;
}

.player-drunk-bar::-moz-progress-bar {
    background-color: DarkOliveGreen;
}

.player-drunk-bar::-webkit-progress-value {
    background-color: DarkOliveGreen;
}

.money-container span::after {
    content: "ì›";
}

#end-game {
    width: 75%;
    background: url("../media/map/mapbg.png");
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.end-game-state {
    display: flex;
    justify-content: space-between;
    width: 75%;
}

.end-game-state .attribute {
    padding: 10px;
    background: rgba(0, 0, 0, .70);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.end-game-state .attribute svg {
    transform: scale(5);
    margin: 5em;
}

.end-game-buttons {
    color: #F0F0F0;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.end-game-buttons button {
    border: inset 5px gray;
    padding: 1em;
    height: 3em;
    background: #0f0f0f;
    color: lime;
    font-size: 1.5em;
    font-family: "Press Start 2P";
    display: flex;
    align-items: center;
}

.store-button-container {
    position: fixed;
    bottom: .5em;
    left: .5em;
    display: flex;
    background: #0f0f0f;
    justify-content: center;
    align-items: center;
}

.store-intro {
    font-size: 1em;
    margin: 1em;
}

.convenience-store {
    background: #0F0F0F;
    flex-direction: column;
    height: 100%;
}

.open-store-button {
    background-image: url("../media/mart/storebutton.png");
    background-size: cover;
    align-self: flex-start;
    height: 10vh;
    width: 10vh;
    border: inset 5px #F0F0F0;
    margin: 1em;
}

.menu_parent {
    display: flex;
    gap: 1em;
    height: 90%;
}

.below-menu {
    display: flex;
    justify-content: space-between;
    background: lightslategray;
    height: 10%;
    border-top: #0F0F0F solid 5px;
}

.below-menu-left {
    display: flex;
    align-items: center;
    justify-content: center;
}

.shopButton {
    -webkit-text-stroke: 1px black;
    box-sizing: border-box;
    width: 10em;
    height: 10em;
    color: #F0F0F0;
    background: rgba(0, 0, 0, .75);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    border: 2px solid #F0F0F0;
    text-align: center;

    display: flex;
    align-items: center;
    justify-content: center;
}

.cant-buy {
    color: red;
    border: 0px;
}


.drink_selection,
.food_selection {
    flex: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background: #F0F0F0;
}

.drink_selection h2,
.food_selection h2 {
    align-self: flex-start;
    margin-left: 3.5em;
}

#drinks,
#food {
    height: 90%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 1em;
}

#drinks {
    background-image: url("../media/mart/cooler.png");
}

#food {
    background-image: url("../media/mart/snacks.png");
}

.leave-store-button {
    width: 15em;
    background: lightskyblue;
    display: flex;
    align-items: center;
    justify-content: center;
}

.battle-reward {
    z-index: 9999;
    background: url("../media/map/mapbg.png");
    height: 85vh;
    width: 85vw;
    border: 2px solid black;
    flex-direction: column;
    color: lime;
    border: #f0F0F0;
    -webkit-text-stroke: 1px #F0F0F0;
}

.battle-reward>div {
    align-self: flex-start;
}

.battle-reward-choice-container {
    flex-direction: row;
    display: flex;
    flex: 1;
}

.battle-reward-choice-container svg {
    transform: scale(5);
}

.battle-reward h2 {
    margin-left: 5em;
    width: 75%;
}

.battle-reward-button {
    flex: 1;
    margin: 5em;
    padding: 2em;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 5em;
    border: inset 10px gray;
    text-align: center;
    animation: 1s steps(5) infinite alternate focusE;
    background: rgba(0, 0, 0, .70);
}

.battle-reward-choice {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.event-image {
    margin-top: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: center;
    height: 100%;
    width: 100%;
    /* border: 2px solid white; */
    background-repeat: no-repeat
}

@media only screen and (max-width: 393px), only screen and (max-height: 600px){
    html {
        font-size: 9px;
    }
    body {
        -webkit-text-stroke: 0px;
        font-weight: normal;
    }
    .location-card {
        -webkit-text-stroke: 0px;
        width: 15rem;
        height: 15rem;
        text-shadow: 0px 0px .5rem black;
    }
    .battle-reward {
        -webkit-text-stroke: 0px;  
    }
    .battle-reward h2 {
        width: 100%;
    }
    #encounter-result {
        -webkit-text-stroke: 0px; 
    }
    .drunk-svg-box, .drunk-num {
        color: lightgreen;
        fill: lightgreen;
    }
    .resolution-text{
        max-width: 45%;
    }
    #encounter-zone {
        z-index: 9998;
    }
    .event-section-left {
        width: 40%;
    }
    .event-section-right {
        width: 60%;
    }
    .option-container svg {
        transform: scale(0.75);
    }
    .option-container {
        font-size: 1.2rem;
    }
    .shopButton {
        -webkit-text-stroke: 0px;
        text-shadow: 0px 0px .5rem black;
    }
    .end-game-text {
        max-width: 45%;
    }
}