@import url('https://fonts.googleapis.com/css2?family=Gaegu:wght@300&family=Press+Start+2P&display=swap');

:root {
    --maxblur: 0px;
    --midX: 0px;
    --maxX: 0px;
    --upY: 0px;
    --downY: 0px;
}

@keyframes blurry {
    0% {
        filter: blur(0px);
    }

    100% {
        filter: blur(var(--maxblur));
    }
}

@keyframes figureEight {
    0% {
        transform: translateX(0) translateY(0);
    }

    25% {
        transform: translateX(var(--midX)) translateY(var(--upY));
    }

    50% {
        transform: translateX(var(--maxX)) translateY(0);
    }

    75% {
        transform: translateX(var(--midX)) translateY(var(--downY));
    }

    100% {
        transform: translateX(0) translateY(0);
    }
}

body {
    font-family: "Press Start 2P";
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: 2s ease-in alternate-reverse infinite blurry;
}

.map {
    background: #0f0f0f;
    padding: 0 1em;
    width: 95vw;
    height: 95vh;
    border: 2px solid palegreen;
    box-shadow: 2px 2px hotpink;
    display: flex;
    overflow: hidden;
    gap: 1em;
    animation: 2s ease-in alternate-reverse infinite figureEight;
}

.location-card {
    background-color: linen;
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
    animation: 2s ease-in alternate-reverse infinite figureEight;
}

.card-zone {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.5em;
}

.focus-e {
    animation: 1s steps(5) infinite alternate focusE;
}
.focus-b {
    animation: 1s steps(5) infinite alternate focusB;
}

@keyframes focusE {
    from {
        box-shadow: 0px 0px 0px lightskyblue;
    }

    to {
        box-shadow: 0px 0px 0px .5em lightskyblue;
    }
}
@keyframes focusB {
    from {
        box-shadow: 0px 0px 0px red;
    }

    to {
        box-shadow: 0px 0px 0px .5em red;
    }
}

#encounter-zone {
    background: #0f0f0f;
    border: 3px solid snow;
}

.event-zone {
    color: lime;
    flex-direction: row;
}

.event-section-left,
.event-section-right {
    width: 50%;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.event-section-left {
    border: inset 10px gray;
}

.prompt-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: inset 10px gray;
    background: black;
    padding: 10px;
}

.option-button-container {
    display: flex;
    flex-direction: column;
    flex: 1;
    border: inset 5px gray;
}

.option-container {
    font-family: sans-serif;
    display: flex;
    flex: 1;
}

.option-button {
    width: 25%;
    flex: 1;
    border-radius: 0;
    background: #0f0f0f;
    fill: #f0f0f0;
}

.can-buy:hover svg {
    fill: lime;
    transform: scale(1.5);
}

.option-info {
    width: 75%;
    display: flex;
    flex-direction: column;
    border: inset 3px gray;
}

.option-description {
    flex: 2;
    border: inset 2px gray;
    display: flex;
    align-items: center;
    justify-content: center;
}

.option-EDMchanges {
    border: inset 2px gray;
    flex: 1;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.energy-svg-box,
.energy-num {
    color: cornflowerblue;
    fill: cornflowerblue;
}

.drunk-svg-box,
.drunk-num {
    color: darkolivegreen;
    fill: darkolivegreen;
}

.money-svg-box,
.money-num {
    color: gold;
    fill: gold;
}

#encounter-result {
    background: linen;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border: 5px solid snow;
}

.state-changes-container {
    display: flex;
    justify-content: space-between;
    width: 75%;
}

.battle-zone {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #f0f0f0;
}

.PC-cards {
    position: absolute;
    height: 20%;
    bottom: 0;
}

.hud {
    z-index: 999;
    margin: .25em .25em 0 0;
    color: #F0F0F0;
    -webkit-text-stroke: 1px black;
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    gap: .25em;
    background: #0F0F0F;
    padding: 1em;
    border: 2px solid palegreen;
    box-shadow: 2px 2px hotpink;
}

.username {
    align-self: flex-end;
}

.stat {
    display: flex;
    align-self: flex-end;
}

.hud svg {
    margin-right: 1em;
}

.progress-container {
    position: relative;
    margin-left: .25em;
}

.progress-container span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.progress-container span::after {
    content: "/100";
}

progress {
    border: none;
    font-size: 1.5em;
}

.player-energy-bar::-moz-progress-bar {
    background-color: cornflowerblue;
}

.player-energy-bar::-webkit-progress-value {
    background-color: cornflowerblue;
}

.player-drunk-bar::-moz-progress-bar {
    background-color: DarkOliveGreen;
}

.player-drunk-bar::-webkit-progress-value {
    background-color: DarkOliveGreen;
}

.money-container span::after {
    content: "Ïõê";
}

.username {
    color: white;
}

#end-game {
    background: yellow;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.convenience-store {
    background: purple;
    flex-direction: column;
    padding: 5px;
}

.store-button-container {
    position: fixed;
    top: 2.5em;
    left: 2.5em;
    display: flex;
    background: #0f0f0f;
    justify-content: center;
    align-items: center;
    border: 2px solid palegreen;
    box-shadow: 2px 2px hotpink;
    color: #F0F0F0;
    -webkit-text-stroke: 1px black;
}

.store-intro {
    font-size: 1em;
    margin: 1em;
}

.store-button {
    align-self: flex-start;
    height: 10vh;
    width: 10vh;
    border: inset 5px gray;
    margin: 1em;
    animation: 1s steps(5) infinite alternate focusE;
}

.store-menu {
    width: 100%;
    flex: 5;
    background: lightgreen;
}

.below-menu {
    flex: 1;
    display: flex;
    justify-content: space-between;
}

.leave-store-button {
    width: 5em;
    background: lightcoral;
}

.dynamic-game-element {
    position: absolute;
    z-index: 999;
    width: 85vw;
    height: 85vh;
    display: none;
}

.battle-reward {
    background: pink;
    height: 80vh;
    width: 80vw;
    border: 2px solid black;
}

.battle-reward-label {
    flex: 1;
    background: yellow;
    justify-content: center;
    align-items: center;
}

.battle-reward-button {
    flex: 1;
    background: green;
    margin: 2em;
    justify-content: center;
    align-items: center;
}

.battle-reward-choice{
    flex: 1;
    display: flex;
    flex-direction: column;
}